!/node_modules
/node_modules/*
!/node_modules/bootstrap
/node_modules/bootstrap/*
!/node_modules/bootstrap/scss
/public/storage
/public/js
/public/css
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
supervisord.log
supervisord.pid
.sass-cache


