@import "_variables.scss";

hr {
    margin: 0;
}

a {
	text-decoration: none;
}

.container-fluid {
	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}

#header-wrapper {
	.board-path {
		padding: 20px 0;
	}
	.board-label {
		padding-bottom: 20px;
	}
}

#event-wrapper {
	.event-content {
		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}
}


