
.icon-back:before { content: '\e800'; } /* '' */
.icon-beautycheck:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-community:before { content: '\e804'; } /* '' */
.icon-correct:before { content: '\e805'; } /* '' */
.icon-create:before { content: '\e806'; } /* '' */
.icon-down:before { content: '\e807'; } /* '' */
.icon-download:before { content: '\e808'; } /* '' */
.icon-edit:before { content: '\e809'; } /* '' */
.icon-email:before { content: '\e80a'; } /* '' */
.icon-event:before { content: '\e80b'; } /* '' */
.icon-facebook:before { content: '\e80c'; } /* '' */
.icon-filter:before { content: '\e80d'; } /* '' */
.icon-follow:before { content: '\e80e'; } /* '' */
.icon-google:before { content: '\e80f'; } /* '' */
.icon-hamberger:before { content: '\e810'; } /* '' */
.icon-howto:before { content: '\e811'; } /* '' */
.icon-icon-badge:before { content: '\e812'; } /* '' */
.icon-ig:before { content: '\e813'; } /* '' */
.icon-insert-sticker-photo:before { content: '\e814'; } /* '' */
.icon-link:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-login:before { content: '\e817'; } /* '' */
.icon-logout:before { content: '\e818'; } /* '' */
.icon-love:before { content: '\e819'; } /* '' */
.icon-loved:before { content: '\e81a'; } /* '' */
.icon-may-like:before { content: '\e81b'; } /* '' */
.icon-member:before { content: '\e81c'; } /* '' */
.icon-mention:before { content: '\e81d'; } /* '' */
.icon-more-horizon:before { content: '\e81e'; } /* '' */
.icon-more-verticle:before { content: '\e81f'; } /* '' */
.icon-my-bag:before { content: '\e820'; } /* '' */
.icon-next:before { content: '\e821'; } /* '' */
.icon-notification:before { content: '\e822'; } /* '' */
.icon-password:before { content: '\e823'; } /* '' */
.icon-pencile:before { content: '\e824'; } /* '' */
.icon-photo:before { content: '\e825'; } /* '' */
.icon-privilege:before { content: '\e826'; } /* '' */
.icon-qa:before { content: '\e827'; } /* '' */
.icon-reply:before { content: '\e828'; } /* '' */
.icon-report:before { content: '\e829'; } /* '' */
.icon-review:before { content: '\e82a'; } /* '' */
.icon-save:before { content: '\e82b'; } /* '' */
.icon-saved:before { content: '\e82c'; } /* '' */
.icon-search:before { content: '\e82d'; } /* '' */
.icon-setting:before { content: '\e82e'; } /* '' */
.icon-share:before { content: '\e82f'; } /* '' */
.icon-star-fill:before { content: '\e830'; } /* '' */
.icon-star:before { content: '\e831'; } /* '' */
.icon-sticker:before { content: '\e832'; } /* '' */
.icon-storytelling:before { content: '\e833'; } /* '' */
.icon-swatch:before { content: '\e834'; } /* '' */
.icon-tag:before { content: '\e835'; } /* '' */
.icon-thum:before { content: '\e836'; } /* '' */
.icon-tile:before { content: '\e837'; } /* '' */
.icon-time:before { content: '\e838'; } /* '' */
.icon-transform:before { content: '\e839'; } /* '' */
.icon-twitter:before { content: '\e83a'; } /* '' */
.icon-up:before { content: '\e83b'; } /* '' */
.icon-upload-photo:before { content: '\e83c'; } /* '' */
.icon-upload-vdo:before { content: '\e83d'; } /* '' */
.icon-upload:before { content: '\e83e'; } /* '' */
.icon-vdo:before { content: '\e83f'; } /* '' */
.icon-view:before { content: '\e840'; } /* '' */
.icon-wrong:before { content: '\e841'; } /* '' */
.icon-youtube:before { content: '\e842'; } /* '' */